@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.homepage{
  width: 100vw;
  height: 100vh;
  background-image: url("/homebg.png");
  background-size: 100% 100%;
}

.question{
  width: 100vw;
  height: 100vh;
  background-image: url("/blue.jpg");
  background-size: 100% 100%;


}

